html,
body {
  -ms-touch-action: none;
  background: #8204b5!important;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Microsoft YaHei" ! important;
  font-style: normal;
}
.cont-hide {
  display: none;
  background-image: url("btn_dk.png?1521098997");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1.8rem;
  height: 0.76rem;
}
